[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=KbookOCR
GenericName=KDE OCR
GenericName[tr]=KDE OKT
Comment=An OCR system GUI
Comment[tr]=Bir OKT sistemi GKA
Icon=kbookocr
Exec=KBookocr
Terminal=false
StartupNotify=false
Categories=Application;Office;
