[Desktop Entry]
Type=Application
Version=1.0
Name=pySteg
GenericName=Steghide GUI
GenericName[tr]=Steghide Arayüzü
Comment=Embed a secret message in a cover file
Comment[tr]=Dosyaların içine gizli mesajlar ekleyin
Icon=pysteg
Exec=pysteg
Terminal=false
Categories=Application;Utility;
