[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=osqoop
Name[tr]=osqoop
GenericName=osqoop
GenericName[tr]=osqoop
Comment=A software oscilloscope
Comment[tr]=A software oscilloscope
Icon=osqoop
Exec=osqoop
Terminal=false
StartupNotify=false
Categories=Application;Game;
