[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Scan Tailor
GenericName=Scantailor
GenericName[tr]=Scantailor
Comment=An interactive post-processing tool for scanned pages
Comment[tr]=Taranmış sayfaları işlemek için interaktif bir araç
Icon=scantailor
Exec=scantailor
Terminal=false
StartupNotify=false
Categories=Application;Office;
