[Desktop Entry]
Type=Application
Version=1.0
Name=GrafX2
GenericName=Painting Program
GenericName[tr]=Boyama Programı
Comment=A pixelart oriented painting program
Comment[tr]=Bir piksel sanat odaklı boyama programı
Icon=grafx2
Exec=grafx2
Terminal=false
StartupNotify=false
Categories=Application;Graphics;2DGraphics;RasterGraphics;
MimeType=image/bmp;image/gif;image/png;image/x-tga;image/tiff;
