[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=silenteye
Name[tr]=silenteye
GenericName=silenteye
GenericName[tr]=silenteye
Comment=A steganography program
Comment[tr]=A steganography program
Icon=silenteye
Exec=silenteye
Terminal=false
StartupNotify=false
Categories=Application;Game;
