[Desktop Entry]
Type=Application
Version=1.0
Name=SteGUI
GenericName=Steghide GUI
GenericName[tr]=Steghide Arayüzü
GenericName[fr]=Steghide Interface
Comment=A graphical frontend to Steghide
Comment[tr]=Steghide için bir grafiksel önyüz
Comment[fr]=Une interface graphique de Steghide
Icon=stegui
Exec=stegui
Terminal=false
Categories=Application;Utility;
